h1 {
color: #FF00FF;
font-size: 10px;
font-weight: bold;
text-transform: capitalize;
}

h2 {
color: #0000FF;
font-size: 20px;
font-weight: bold;
text-transform: capitalize;
}

h3 {
color: #000080;
font-size: 30px;
font-weight: bold;
text-decoration: underline;
text-transform: uppercase;
word-spacing: 30px;
}

h4 {
color: #FF0000;
font-size: 40px;
font-weight: bold ;
text-decoration: underline;
text-transform: uppercase;
word-spacing: 40px;
}